In [2]:
import duckdb
import pandas as pd

In [3]:
sql_query = '''
show tables
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                              name
0               Gold_ticket_metric
1              Gold_vehicle_metric
2              bronze_parking_viol
3         bronze_parking_viol_code
4   bronze_parking_violation_codes
5        bronze_parking_violations
6                      first_model
7              gold_ticket_metrics
8            gold_vehicles_metrics
9          parking_violation_codes
10         parking_violations_2023
11                       ref_model
12             silver_parking_viol
13        silver_parking_viol_code
14  silver_parking_violation_codes
15       silver_parking_violations
16             silver_viol_tickets
17            silver_viol_vehicles
18        silver_violation_tickets
19       silver_violation_vehicles

In [2]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_code AS 
SELECT * 
FROM read_csv_auto(
  'data/dof_parking_violation_codes.csv', normalize_names=True)
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violation_2023 AS 
SELECT * 
FROM read_csv_auto(
  'data/parking_violations_issued_fiscal_year_2023_sample.csv', 
normalize_names=True)
'''

with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
  con.sql(sql_query_import_1)
  con.sql(sql_query_import_2)

In [4]:
sql_query = '''
show tables
'''

with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                       name
0        Gold_ticket_metric
1       Gold_vehicle_metric
2       bronze_parking_viol
3  bronze_parking_viol_code
4    parking_violation_2023
5    parking_violation_code
6       silver_viol_tickets
7      silver_viol_vehicles