In [1]:
import duckdb
import pandas as pd

In [2]:
sql_query = '''
SELECT * FROM bronze_parking_viol LIMIT 10
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

,summons_number,registration_state,plate_type,issue_date,violation_code,vehicle_body_type,vehicle_make,issuing_agency,vehicle_expiration_date,violation_location,violation_precinct,issuer_precinct,issuer_code,issuer_command,issuer_squad,violation_time,violation_county,violation_legal_code,vehicle_color,vehicle_year
0,9010912681,CA,PAS,2022-10-11,17,SUBN,FORD,T,20220788,50.0,50,50,365910,T201,D,0825A,BX,NaN,BLACK,0
1,4858762841,NY,PAS,2023-08-21,36,4DSD,HONDA,V,0,NaN,0,0,0,None,None,1036A,BK,True,GY,2003
2,4854645684,FL,PAS,2023-07-26,36,UT,BMW,V,0,NaN,0,0,0,None,None,0126P,QN,True,WHI,2022
3,9044582707,NY,PAS,2023-04-10,21,SUBN,SUBAR,T,20231217,79.0,79,79,370326,T301,H,0924A,K,NaN,GY,2017
4,9041503330,NY,PAS,2023-03-21,21,4DSD,CHEVR,T,20250320,26.0,26,26,373097,T103,C,1155A,NY,NaN,BK,2018
5,8964996320,NY,COM,2023-06-12,21,VAN,CHEVR,T,88888888,46.0,46,46,374612,T201,E,0923A,BX,NaN,TAN,0
6,9019285804,NY,SRF,2022-11-20,40,SUBN,VOLKS,T,20240220,20.0,20,20,357701,T103,P,0230P,NY,NaN,GY,2011
7,9000744076,CT,COM,2022-07-19,69,SUBN,LINCO,T,88888888,6.0,6,6,373104,T102,I,0349P,NY,NaN,BLACK,0
8,4839205334,NY,PAS,2023-04-30,36,SUBN,TESLA,V,0,NaN,0,0,0,None,None,1154A,BK,True,RD,2021
9,9006263692,NY,PAS,2022-09-20,16,SUBN,CHEVR,T,20240323,84.0,84,84,368636,T301,P,0308P,K,NaN,BK,2017