In [2]:
import pandas as pd

In [3]:
import duckdb

In [4]:
sql_query = '''
SELECT
  violation_code,
  SUM (fee_usd) AS total_revenue_usd
FROM
    silver_parking_violation_codes
GROUP BY
    violation_code
HAVING
  NOT(total_revenue_usd >= 1)
'''
# SELECT * FROM gold_vehicles_metrics
# SELECT * FROM silver_violations_tickets LIMIT 3
# SELECT * FROM silver_parking_violation_codes
# SELECT * FROM bronze_parking_violations LIMIT 3
# SELECT * FROM ref_model
# SELECT * FROM parking_violation_codes LIMIT 5 (you can add this line instead of how table to view the table)
# show tables
with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

   violation_code  total_revenue_usd
0              41                0.0

In [5]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
  'data/dof_parking_violation_codes.csv',
  normalize_names=True
  )
'''
sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT *
FROM read_csv_auto(
  'data/parking_violations_issued_fiscal_year_2023_sample.csv',
  normalize_names=True
  )
'''
with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
  con.sql(sql_query_import_1) 
  con.sql(sql_query_import_2)

In [6]:
sql_query = '''
show tables
'''

with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                             name
0  bronze_parking_violation_codes
1       bronze_parking_violations
2                     first_model
3             gold_ticket_metrics
4           gold_vehicles_metrics
5         parking_violation_codes
6         parking_violations_2023
7                       ref_model
8       silver_violations_tickets
9      silver_violations_vehicles