In [8]:
import duckdb
import pandas as pd

In [10]:
sql_query = '''
select * from "nyc_parking_violations"."main_dbt_test__audit"."violation_codes_remove"
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    results = con.execute(sql_query).fetchall()
    # Get column names from the query result
    column_names = [desc[0] for desc in con.description]
    # Convert the results to a Pandas DataFrame
    df = pd.DataFrame(results, columns=column_names)

    # Display the DataFrame
    display(df)

   violation_code  total_revenue_usd
0              41                  0

In [ ]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
  'data/dof_parking_violation_codes.csv',
  normalize_names=True
  )
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT *
FROM read_csv_auto(
  'data/parking_violations_issued_fiscal_year_2023_sample.csv',
  normalize_names=True
  )
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
  con.sql(sql_query_import_1)
  con.sql(sql_query_import_2)

In [ ]:
show tables;

In [11]:
sql_query_import_3 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
  'data/dof_parking_violation_codes.csv',
  normalize_names=True
  )
'''

sql_query_import_4 = '''
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT *
FROM read_csv_auto(
  'data/parking_violations_issued_fiscal_year_2023_sample.csv',
  normalize_names=True
  )
'''

with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
  con.sql(sql_query_import_3)
  con.sql(sql_query_import_4)

In [12]:
sql_query = '''
show tables'''

with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
    results = con.execute(sql_query).fetchall()
    # Get column names from the query result
    column_names = [desc[0] for desc in con.description]
    # Convert the results to a Pandas DataFrame
    df = pd.DataFrame(results, columns=column_names)

    # Display the DataFrame
    display(df)

                              name
0   bronze_parking_violation_codes
1        bronze_parking_violations
2  bronze_parking_violations_codes
3                      first_model
4              gold_ticket_metrics
5            gold_vehicles_metrics
6          parking_violation_codes
7          parking_violations_2023
8         silver_violation_tickets
9        silver_violation_vehicles