In [1]:
import duckdb
import pandas as pd

In [2]:
sql_query = '''

select * from "nyc_parking_violations"."main_dbt_test__audit"."violation_code_revenue"

'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

   violation_code  total_revenue_usd
0              41                0.0

In [ ]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_code AS 
SELECT * 
FROM read_csv_auto('data/dof_parking_violation_codes.csv', normalize_names=True)
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violation_2023 AS 
SELECT * 
FROM read_csv_auto('data/parking_violations_issued_fiscal_year_2023_sample.csv', 
normalize_names=True)
'''

with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
  con.sql(sql_query_import_1)
  con.sql(sql_query_import_2)